@tailwind base;
html {
  scroll-behavior: smooth;
}
@tailwind components;
@tailwind utilities;



@layer base {
  * {
    text-transform: capitalize;
  }
  .light body {
    background: #fff !important;
    color: #000;
  }

  .text-black {
    color: rgba(0, 0, 0, 0.6);
  }
}

.logo-gradient {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
}

.dark body {
  --tw-bg-opacity: 1;
  background-color: rgb(13 16 45 / var(--tw-bg-opacity));
}